
@media all and (min-width:13em){
    .aboutUs{
        position: relative;
        top: 10em;
    }
    .about-us-pic{
        position: relative;
        top: 8em;
    }
    .boarding{
        position:relative;
        top:7em;
    }
    .boarding-pic{
        position:relative;
        top: 7em;
    }
    .btn{
        background-color: black;
        color: white;
    }
    
   .mini-pictures{
       position: relative;
       top: 5em;
   }
   .playcare{
    position: relative;
    top: 10em;
}
.playcare-pic{
    position: relative;
    top: 8em;
    }
   
    .footer{
        position: relative;
        top: 10em;
    }
    .grooming{
        position: relative;
        top: 10em;
    }
    .grooming-pic{
        position:relative;
        top: 7em;
    }

   .services{
       position:relative;
       top: 10em;
   }
   .sidebar-aboutUs{
    position: relative;
    top: 10em;
}

.sidebar-boarding{
    position:relative;
    top:7em;
}
   .servicesFooter{
    position: relative;
    top: 10em;
    left: -3em;
}
.sidebar-grooming{
    position:relative;
    top: 10em;
}
   .sidebar-home{
       position: relative;
       top: 5em;
   }
   .sidebar-playcare{
    position: relative;
    top: 10em;
}
   .sidebar-services{
    margin: 0px;
    padding: 0px;
    height:25em;
    position: relative;
    top: 10em;
   left:2em;
}  

    }

@media all and (min-width:32em){
    .boarding{
        position: relative;
        top: 12em;
        left: 1em;
    }
  .boarding-pic{
      position: relative;
      top: 12em;
      left: 1em;
  }
  
    .custom-carousel{
        position: relative;
        top: 3em;
        width: 20em;
        height: 20em;
   }
	.info-main {
		position: relative;
		padding: 1em;
	}

 .sidebar-boarding{
    position: relative;
    top: 12em;
}
}

@media all and (min-width: 44em){
    .boarding{
        position: relative;
        top: 12em;
        left: 1em;
    }
    .boarding-pic{
      position: relative;
      top: 12em;
      left: -18em;
    }
	body {
		background-color: #ffffae;
	}
    .contact{
        position: relative;
        top: -1em;
        left:5em;
    }
  
    .custom-carousel{
        position: relative;
        top: 3em;
        width: 20em;
        height: 20em;

   }
   .form1{
       position: relative;
       top: 2em;
   }
   .sidebar-boarding{
    position: relative;
    top: 4em;
    left: 10em;
  }
   .sidebar-contactUs{
    margin: 0px;
    padding: 0px;
    height:25em;
    width: 10em;
    position: relative;
    left: 10em;
   
}
 
   .sidebar-home{
    margin: 0px;
    padding: 0px;
    height:28em;
    position: relative;
    top: 5em;
   left:-0.5em;
   
}

 
   
}
@media all and (min-width: 75em){
    .accord{
        position: relative;
        top: 2em;
    }
    .aboutUs{
        position: relative;
        top: 10em;
    }
    .about-us-pic{
        position:relative;
        top:5em;
    }
    .boarding{
        position: relative;
        top: 10em;
    }
    .boarding-pic{
        position: relative;
        top: 8em;
        left: 1em;
    }
	body {
		background-color: #ffffae;
	}		
    .breadcrum-services
		position: relative
		top: 3em;
    }
	
    .contact{
        position: relative;
        top: -1.5em;
        left: 5em;
    }
    .container2{
        position: relative;
        padding: 1em;
		
    }
	.custom-breadcrum{ 
		position: relative;
		top: 2em;
	}
    .custom-carousel{
        width: 50em;
        height: 30em;
       }
	   
	.footer {
		background-color: #94D466;
        position: relative;
        padding: 2em;
		
    }
	   
	
	 .form{
        position: relative;
        left: 1em; 
        top: 1em;
     }
	 
    .grooming{
        position: relative;
        top:5em ;
    }
    .grooming-pic{
        position: relative;
        top: 5em;
    }
	
	h2 {
		color: #94D466;
	}
	.info-main {
		position: relative;
		padding: 1em;
    }
    #miniBoarding{
        background-image: url('https://i.imgur.com/fviRnTp.jpg');
        background-repeat: no-repeat;
        width:100%;
        height: 100%;

    }
    #miniBoarding:hover{
       background-image: url('https://i.imgur.com/No6M8AZ.jpg');
       background-repeat: no-repeat;
       width:100%;
       height: 100%;
   }
     #miniGrooming{
         background-image: url('https://i.imgur.com/LXDTpon.jpg');
         background-repeat: no-repeat;
         width:100%;
         height: 100%;

     }
     #miniGrooming:hover{
        background-image: url('https://i.imgur.com/mwYfsRy.jpg');
        background-repeat: no-repeat;
        width:100%;
        height: 100%;
    }
   
     #miniPlaycare{
        background-image: url('https://i.imgur.com/6gzuLmZ.jpg');
         background-repeat: no-repeat;
         width:100%;
        height: 100%;
     } #miniPlaycare:hover {
        background-image: url('https://i.imgur.com/ykSeHqB.jpg');
        background-repeat: no-repeat;
        width:100%;
        height: 100%;
     }
     .transparent{
         opacity: 0.0;
     }

     
    
    .mini-pictures{
        position:relative;
        top: 10em;
		bottom: 1em;
    }
   
      
    .nav-link{
        color: black;
        
    }
    .panel {
        padding: 0 18px;
        background-color: gray;
        display: none;
        overflow: hidden;
    }
    .playcare{
        position: relative;
        top: 10em;
        }
    
    
    .sidebar-aboutUs{
        margin: 0px;
        padding: 0px;
        height:25em;
        width: 10em;
        position: relative;
        top: -37em;
       left:50em;
       
    }
    .sidebar-boarding{
        margin: 0px;
        padding: 0px;
        height:25em;
        position: relative;
        top: -25em;
       left:45em;
    } 
      

.sidebar-contactUs{
    margin: 0px;
    padding: 0px;
    height:25em;
    width: 10em;
    position: relative;
    left: 30em;
    top: -1em;
}
 
    .sidebar-grooming{
        margin: 0px;
        padding: 0px;
        height:25em;
        width: 5em;
        position: relative;
        top: -30em;
       left:40em;
    }
    .sidebar-home{
		
        margin: 0px;
        padding: 0px;
        height:28em;
        position: relative;
        top: -37em;
       left:55em;
       
    }
    .sidebar-playcare{
        margin: 0px;
        padding: 0px;
        height:25em;
        width: 5em;
        position: relative;
        top: -45em;
       left:40em;
    }
    .sidebar-services{
        margin: 0px;
        padding: 0px;
        height:25em;
        position: relative;
        top: 5em;
        
    }  
    .tagLine {
		background-color: #94D466;
		text: center;
		font-style:  italic;
		font-family: font-family: Arial, Helvetica, sans-serif;
		padding: 1em;
	}
   
    
    
  

 

}