
@media all and (min-width:13em){
    .aboutUs{
        position: relative;
        top: 10em;
    }
    .about-us-pic{
        position: relative;
        top: 8em;
    }
    .boarding{
        position:relative;
        top:7em;
    }
    .boarding-pic{
        position:relative;
        top: 7em;
    }
    .btn{
        background-color: black;
        color: white;
    }
    .custom-carousel{
        position: relative;
        top: 3em;
        width: 20em;
        height: 20em;

   }
   .mini-pictures{
       position: relative;
       top: 5em;
   }
   .playcare{
    position: relative;
    top: 10em;
}
.playcare-pic{
    position: relative;
    top: 8em;
    }
   
    .form1{
        position: relative;
        top: 7em;
    }
    .footer{
        position: relative;
        top: 10em;
    }
    .grooming{
        position: relative;
        top: 10em;
    }
    .grooming-pic{
        position:relative;
        top: 7em;
    }

   .services{
       position:relative;
       top: 10em;
   }
   .sidebar-aboutUs{
    position: relative;
    top: 10em;
}
.sidebar-contactUs{
    position: relative;
    top: 10em;
}
.sidebar-boarding{
    position:relative;
    top:7em;
}
   .servicesFooter{
    position: relative;
    top: 10em;
    left: -3em;
}
.sidebar-grooming{
    position:relative;
    top: 10em;
}
   .sidebar-home{
       position: relative;
       top: 5em;
   }
   .sidebar-playcare{
    position: relative;
    top: 10em;
}
   .sidebar-services{
    margin: 0px;
    padding: 0px;
    height:25em;
    position: relative;
    top: 10em;
   left:2em;
}  

    }

@media all and (min-width:32em){
    .boarding{
        position: relative;
        top: 12em;
        left: 1em;
    }
  .boarding-pic{
      position: relative;
      top: 12em;
      left: 1em;
  }
    .custom-breadcrum{
        position: relative;
        top: 2em;
    }
    .custom-carousel{
        position: relative;
        top: 3em;
        width: 20em;
        height: 20em;

   }

 .sidebar-boarding{
    position: relative;
    top: 12em;
}
}

@media all and (min-width: 44em){
    .boarding{
        position: relative;
        top: 12em;
        left: 1em;
    }
    .boarding-pic{
      position: relative;
      top: 12em;
      left: -18em;
    }
    .sidebar-boarding{
        position: relative;
        top: 4em;
        left: 10em;
      }
    .custom-breadcrum{
        position: relative;
        top: 5em;
    }
    .custom-carousel{
        position: relative;
        top: 3em;
        width: 20em;
        height: 20em;

   }
   .sidebar-home{
    margin: 0px;
    padding: 0px;
    height:28em;
    position: relative;
    top: 5em;
   left:-0.5em;
   
}
   
}
@media all and (min-width: 75em){
    .aboutUs{
        position: relative;
        top: 5em;
    }
    .about-us-pic{
        position:relative;
        top:5em;
    }
    .boarding{
        position: relative;
        top: 10em;
            }
            .boarding-pic{
                position: relative;
                top: 8em;
                left: 1em;
                
            }
            .breadcrum-services{
                position: relative;
                top: 3em;
                
            }
    .custom-breadcrum{
        position: relative;
        top: 5em;
        

    }
    .custom-carousel{
        width: 50em;
        height: 30em;
       }
       .grooming{
        position: relative;
        top:5em ;
    }


.form1{
    position: relative;
    top: 5em;
}
.footer-boarding{
    position: relative;
    top: 20em;
    left: -10em;
}
.footer-contactUs{
position: relative;
top: 20em;
left: -40em;
}
.footer-services{
    position: relative;
    top: 20em;
    left: -25em;
}
    .grooming-pic{
        position: relative;
        top: 5em;
    }
    .mini-pictures{
        position:relative;
        top: 10em;
    }
 
    .nav-link{
        color: black;
        
    }
    .playcare{
        position: relative;
        top: 10em;
        }
    
    .services{
        position: relative;
        top: 5em;
    }
    .sidebar-aboutUs{
        margin: 0px;
        padding: 0px;
        height:25em;
        width: 10em;
        position: relative;
        top: -37em;
       left:50em;
       
    }
    .sidebar-boarding{
        margin: 0px;
        padding: 0px;
        height:25em;
        position: relative;
        top: -25em;
       left:45em;
    } 
      

.sidebar-contactUs{
    margin: 0px;
    padding: 0px;
    height:25em;
    width: 10em;
    position: relative;
    top: -30em;
   left:40em;
}
    .servicesFooter{
        position: relative;
        top: 30em;
        left: -15em;
    }
    
    .sidebar-grooming{
        margin: 0px;
        padding: 0px;
        height:25em;
        width: 5em;
        position: relative;
        top: -30em;
       left:40em;
    }
    .sidebar-home{
        margin: 0px;
        padding: 0px;
        height:28em;
        position: relative;
        top: -37em;
       left:55em;
       
    }
    .sidebar-playcare{
        margin: 0px;
        padding: 0px;
        height:25em;
        width: 5em;
        position: relative;
        top: -45em;
       left:40em;
    }
    .sidebar-services{
        margin: 0px;
        padding: 0px;
        height:25em;
        position: relative;
        top: -40em;
       left:40em;
    }  
  
   
    
    
  

 

}